<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182316294377-v485gh55a1r28qns4vgibd22c3c39hnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182316294377-v485gh55a1r28qns4vgibd22c3c39hnk</string>
	<key>API_KEY</key>
	<string>AIzaSyC4nbc9OvFS-GiKbrZ8HNgrb2R8Vq9LysE</string>
	<key>GCM_SENDER_ID</key>
	<string>182316294377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.am.PotholeManager</string>
	<key>PROJECT_ID</key>
	<string>potholelogin-47651</string>
	<key>STORAGE_BUCKET</key>
	<string>potholelogin-47651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182316294377:ios:d7e8e8b85105dc3ed61078</string>
</dict>
</plist>